* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.navbar ul {
    top: 0px;
    position: fixed;
    z-index: 5;
    margin: 0;
    background-color: #C21717 !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 33px;
    width: 100%;
}

.navbar li {
    list-style: none;
}

.navbar li a {
    text-decoration: none;
    color: white;
}

.navbar li a:hover {
    text-decoration: underline;
}

.topslide {
    margin-top: -11px;
    height: 762px;
    background: url('pictures/nsut_green_view.jpg') no-repeat center center/cover;
    animation-name: imageslide;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
/* .topslide::before{
    background: url('http://nsut.ac.in/sites/default/files/2022-09/nsut%20green%20view.jpg') no-repeat center center/cover;
    animation-name: imageslide;
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.9;
} */

@keyframes imageslide {
    0% {
        background: url('pictures/nsut_green_view.jpg') no-repeat center center/cover;
    }

    35% {
        background: url('pictures/lg_photo.jpg') no-repeat center center/cover;
    }

    55% {
        background: url('pictures/concert.jpg') no-repeat center center/cover;
    }

    80% {
        background: url('pictures/inauguration.jpg') no-repeat center center/cover;
    }
}

#logo {
    display: inline-block;
    position: absolute;
    top: 62px;
    left: 115px;
}

#g20 {
    display: inline-block;
    position: absolute;
    top: 62px;
    left: 942px;
}

#g20 img {
    height: 88px;
    width: 157px;
    border-radius: 20px;
}

.dropmenu .menu {
    color: white;
    display: flex;
    position: absolute;
    top: 180px;
    left: 200px;
    justify-content: space-around;
    align-items: center;
    width: 70%;
}

.dropmenu li {
    list-style: none;
}

.dropmenu li a {
    text-decoration: none;
    color: white;
}

.submenu {
    z-index: 2;
    display: none;
}

.dropmenu li:hover .submenu {
    display: block !important;
    position: absolute;
    background-color: #C21717 !important;
    margin-top: 2px;
    margin-left: -15px;
}

.dropmenu li:hover .submenu ul {
    display: block;
    margin: 10px;
    padding-left: 7px;
}

.dropmenu li:hover .submenu ul li {
    width: 350px;
    padding: 10px;
    border-bottom: 1px dotted white;
}

.dropmenu li:hover .submenu ul li:last-child {
    border-bottom: none;
}

#welcome {
    height: 200px;
    width: 800px;
    display: block;
    position: relative;
    top: 400px;
    margin: auto;
    text-align: center;
    color: white;
}

#wel1 {
    letter-spacing: 2px;
    font-size: 65px;
    text-shadow: 5px 5px 6px black;
    margin-bottom: 20px;
}

#wel3 {
    letter-spacing: 1px;
    font-size: 28px;
    text-shadow: 5px 5px 6px black;
}

#abouth1 {
    margin: 80px 200px 0px 200px;
    font-family: 'Heebo', sans-serif;
    font-size: 45px;
    font-weight: 100;
}

#aboutpara {
    letter-spacing: 0.8px;
    margin: 30px 200px 10px 200px;
    font-size: 18px;
    font-family: 'Heebo', sans-serif;
}

#abouth1 span {
    color: #4c6f91;
}

.btn {
    font-family: 'Heebo', sans-serif;
    border: 1px solid black;
    color: black;
    background-color: white;
    font-size: 18px;
    margin: 40px 0px 100px 200px;
    padding: 5px 1px;
}

.btn:hover {
    color: white;
    background-color: black;
}

#first {
    background-color: #F9F9F6;
    height: 400px;
}

.container {
    display: inline-block;
    height: 60px;
    width: 314px;
    text-align: center;
    font-size: 18px;
}

#campus {
    background-color: #b3dcff;
    margin: 90px 0px 0px 170px;
}

#ranking {
    background-color: #ffeece;
    margin: 90px 0px 0px 95px;
}

#vc {
    background-color: #ffc5f8;
    margin: 90px 170px 0px 95px;
}

.container1 {
    background-color: white;
    height: 150px;
    width: 270px;
}

.container1:hover {
    transform: scale(1.7);
}

.container1 li a {
    text-decoration: none;
    color: #0071b3;
}

#campus1 {
    display: inline-block;
    margin: 0px 0px 0px 192px;
}

#ranking1 {
    margin: 0px 0px 0px 139px;
    display: inline-block;
}

#vc1 {
    display: inline-block;
    margin: 0px 0px 0px 139px;
}

.admissions {
    color: #C21717;
    background-color: white;
    height: 1300px;
}

#adm {
    text-align: center;
    height: 110px;
    padding-top: 30px;

}

.admission {
    display: inline-block;
    width: 380px;
    height: 810px;
    margin: 0px 0px 0px 80px;
    vertical-align: top;
}

.admission h1 {
    margin-left: 45px;
}

.admission li {
    font-size: 20px;
    padding: 34px;
}

.admission li a {
    color: #C21717;
    text-decoration: none;
}

.research {
    height: 800px;
    color: white;
    background-image: url(https://wallpapercave.com/wp/wp7421176.jpg);

}

#reshead {
    font-size: 25px;
    font-style: italic;
    padding-top: 80px;
    padding-left: 500px;
}

#respara {
    font-size: 30px;
    letter-spacing: 1px;
    padding: 0px 320px 80px 400px;
}

#respara h5 {
    font-weight: lighter;
    margin-top: 10px;
}

.departments {
    background-color: white;
    border-radius: 300px;
    z-index: 2;
    display: block;
    width: 600px;
    height: 600px;
    position: absolute;
    left: 448px;
    top: 3490px;

}

#departments {
    text-align: center;
    height: 80px;
    padding-top: 60px;
}

.dep {
    font-size: 12px;
    display: inline-block;
    width: 160px;
    vertical-align: top;
    text-align: center;
    padding: 110px 1px;
    margin-bottom: 40px;
}

.dep h2 {
    padding-left: 18px;
    font-weight: lighter;
}

.dbtn {
    letter-spacing: 1px;
    height: 40px;
    width: 110px;
    margin-left: 15px;
    background-color: white;
    border: 2px solid black;
}

.dbtn:hover {
    color: white;
    background-color: black;
}

#faculty {
    margin-left: 14px;
}

#faculty img {
    border-radius: 80px;
}

#department {
    margin-left: 32px;
}

#center {
    margin-left: 32px;
}

#center img {
    border-radius: 90px;
}



.lastslide {
    padding-top: 380px;

    background-color: rgb(33, 35, 49);
}

.last {
    color: white;
    display: inline-block;
    vertical-align: top;
    border-right: 1px dashed #969696;
    width: 300px;
    height: 370px;
    padding-right: 20px;
}

.last p a {
    color: white;
    text-decoration: none;
}

.last p {
    padding-bottom: 10px;
    border-bottom: 1px dashed #969696;
}

#quick {
    margin: 50px 0px 30px 70px;

}

#explore {
    margin: 50px 0px 30px 30px;
}

#social {
    margin: 50px 0px 30px 30px;
}

#netaji {
    padding-top: 20px;
    margin: 50px 0px 30px 30px;
}